body {
    font-size: 12px;
    background: #FFF;
    color: #333;
    margin: 0;
}

#content {
    width: 500px;
    padding: 10px;
    background: #393;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

#rank-list {
    overflow: hidden;
    width: 400px;
    height: 60px;
    margin: 0;
}

#rank-list dt {
    display: none;
}

#rank-list dd {
    position: relative;
    /*width: 500px;*/
    /*height: 20px;*/
}

#rank-list ol {
    position: absolute;
    list-style-type: none;
    width: 500px;
}

#rank-list li {
    line-height: 20px;
    color: #dee0e5;
}

.h4{
    line-height: 50px;
}
