body {
    font-size: 12px;
    background: #FFF;
    color: #333;
    margin: 0;
}

#content {
    width: 500px;
    padding: 10px;
    background: #393;
    margin: auto;
}

#rank-list {
    overflow: hidden;
    width: 160px;
    height: 20px;
    margin: 0;
}

#rank-list dt {
    display: none;
}

#rank-list dd {
    position: relative;
}

#rank-list ol {
    position: absolute;
    list-style-type: none;
}

#rank-list li {
    height: 20px;
    line-height: 20px;
}
