<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/ranking.css}" media="screen" type="text/css" />
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script th:src="@{/js/application.js}" type="text/javascript"></script>
    <title>Google</title>
</head>
<body>
<header class="top-header">

    <nav class="top-nav">
        <div class="one">
            <h1> 주식 순위 </h1>
        </div>
    </nav>

    <div id="content">
        <h4> 실시간 최고 상승주 순위</h4>
        <dl id="rank-list">
            <dd>
                <ol>
                    <li th:each="stock, stockStat:${stockList}" th:text="|${stockStat.index+1}. ${stock}|"></li>
                </ol>
            </dd>
        </dl>
    </div>

</header>
<section class="main-section">

    <div class="logo-wrap">
        <a href="#"><img class="logo-img" src="image/logo.png"></a>
    </div>

    <div class="buttons">
        <form th:action="@{/stockInfo}" method="get" >
            <div class="searchbar-wrap">
                <i class="fas fa-search"></i>
                <input class="search-input" type="text" name="stockName" placeholder="주식 종목 입력"/>
            </div>
            <button type="submit"> 추출 </button>
        </form>
    </div>
</section>




<footer>
    <div class="country">
        <span><p> name : PARKSUNGJUN &nbsp&nbsp|&nbsp&nbsp phone number : 010-7472-4537 &nbsp&nbsp|&nbsp&nbsp email : tjdwns4537@naver.com</p>
        </span>
    </div>
    <div class="foot-links-wrap">
        <div class="foot-links-wrap-right">
            <a href="https://github.com/tjdwns4537"> Github Link </a>
        </div>
    </div>

    </div>
</footer>
</body>
</html>
